{% extends 'base.html' %}


{% block start %}
    <div class="container">
        <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data"> 
            {% csrf_token %}
            {% if messages %}
            <div class="alert alert-primary" role="alert">
                
                {% for message in messages  %}
                {{message}}
                    
                {% endfor %}
                    
            </div>
        {% endif %}
            <h1 class="text-bg-dark text-center mb-3">LOGIN</h1>
           
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Username</label>
                  <input type="text" class="form-control" name="username" id="exampleInputEmail1" >
                 
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" name="password" id="exampleInputPassword1">
                </div>
                <p class="text-center mt-2">New User? <a href="/register/">Register</a></p>
                
                <button type="submit" class="btn btn-primary">Submit</button>
             
            
        </form>  
    </div>

 
    
{% endblock start %}
